@if (data(); as post) {
  <app-breadcrumb-img title="Tin tức - Bài viết"   [bgUrl]="post.featuredImage || 'assets/images/banners/page-header-bg.jpg'"/>


  <div class="w-full bg-gray-50">
    <div class="container-layer">
      <div class="main-content">
        <div class="content-grid">
          <div class="content-area">
            <h1
              class="text-3xl md:text-4xl lg:text-5xl text-secondary font-bold text-left mb-5 md:mb-10"
            >
              {{ post.title }}
            </h1>

            @if (post.shortContent) {
              <div
                class="text-gray-950 mb-5"
                [innerHTML]="post.shortContent"
              ></div>
            }


            <div class="text-gray-950" [innerHTML]="post.content"></div>

            <div class="my-5 md:my-8">
              <app-why-our-policy />
            </div>

            <div class="my-5 md:my-8">
              <app-section-intro
                title="FAQs"
                firstText="Những"
                highlightText="Câu hỏi"
                lastText="thường gặp"
              />
              <app-faqs-items class="lg:mt-10" />
            </div>
          </div>

          <div class="sidebar">
            <div class="sticky-toc">
              <app-post-related
                [postId]="post.id"
                [categoryId]="post.categoryId || 0"
              />
              <app-info-extra-phone  />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}

<app-loading-in-page class="h-screen w-full" />
