<section
  class="py-20 lg:py-0 h-full lg:h-[calc(100vh-var(--header-height))] 4xl:h-[700px] w-full bg-white"
>
  <div class="container-layer">
    <div class="grid gird-cols lg:grid-cols-2 items-center gap-y-10">
      <div class="">
        <div class="mt-16 4xl:mt-20">
          <app-section-intro
          title="tại sao nên chọn chúng tôi"
          firstText="Tại sao bạn"
          highlightText="nên chọn chính sách bảo hiểm"
          lastText="của chúng tôi"
          description="Hãy chọn các chính sách bảo hiểm của chúng tôi để được bảo hiểm toàn diện, dịch vụ cá nhân hóa và mức phí phải chăng. Chúng tôi cung cấp quy trình xử lý yêu cầu bồi thường nhanh chóng và hỗ trợ chuyên nghiệp, đảm bảo sự an tâm và bảo vệ cho tương lai của bạn."
          introClass=""
        />
        </div>


        <app-feature-list />

        <div class="mt-12">
          <app-btn-common [text]="'Liên hệ với chúng tôi'" />
        </div>
      </div>
      <div class="w-full h-full flex__middle relative">
        <img
            src="assets/images/why-choose-image-2.webp"
            alt="Why Choose Us"
            class="w-[85%] aspect-square"
            loading="lazy"
          />
        <!-- <div
          #boxBackground
          class="w-1/3 bg-secondary rounded-t-3xl rounded-e-3xl hidden lg:block"
        ></div>
        <div
        #boxImg
          class="absolute aspect-square w-[90%] lg:w-[70%] right-1/2 translate-x-1/2
          lg:translate-x-0 lg:right-12 top-1/2 -translate-y-1/2 border-4 md:border-6 lg:border-8 rounded-t-3xl rounded-e-3xl border-secondary
          lg:border-white z-10 image-hover-effect"
        >
          <img
            src="assets/images/why-choose-image.webp"
            alt="Why Choose Us"
            class="w-full h-full object-cover rounded-t-3xl rounded-e-3xl "
            loading="lazy"
          />
        </div>
        <div class="absolute hidden lg:block lg:-bottom-12 lg:left-12 4xl:-bottom-10">
          <img
            src="assets/icons/why-choose-image-bg-shape.svg"
            alt=""
            class="w-32 lg:w-auto"
            loading="lazy"
          />
        </div> -->
      </div>
    </div>
  </div>
</section>
