<section class="py-20">
  <div class="container-layer">
    <div class="flex__middle flex-col lg:flex-row gap-10">
      <div>
        <app-section-intro
          title="Câu hỏi thường gặp"
          firstText="Chắc hẳn"
          highlightText="bạn có nhiều câu hỏi"
          lastText="về bảo dịch vụ của chúng tôi"
          description="Tìm hiểu các câu hỏi thường gặp về bảo hiểm và các dịch vụ của chúng tôi. Chúng tôi cung cấp thông tin chi tiết để giúp bạn hiểu rõ hơn về các gói bảo hiểm của mình."
        />
        <div class="space-y-8">
          <div class="flex items-start gap-3">
            <div class="w-5 h-5 flex items-center justify-center flex-shrink-0">
              <img
                src="assets/icons/check.svg"
                alt="icon_check"
                class="group-hover:filter group-hover:brightness-0 group-hover:invert transition-all duration-300 mt-2"
              />
            </div>
            <div>
              <h4
                class="text-secondary font-bold text-lg transition-colors duration-300"
              >
                Hơn 20 năm kinh nghiệm
              </h4>
              <p class="text-fourth text-sm mt-3">
                Trong kỷ nguyên công nghệ mới, chúng tôi luôn hướng tới tương
                lai với sự chắc chắn và tự hào, đó là lý do vì sao bạn nên chọn
                chúng tôi.
              </p>
            </div>
          </div>

          <div class="w-full border border-gray-200"></div>
          <div class="flex items-start gap-3">
            <div class="w-5 h-5 flex items-center justify-center flex-shrink-0">
              <img
                src="assets/icons/check.svg"
                alt="icon_check"
                class="group-hover:filter group-hover:brightness-0 group-hover:invert transition-all duration-300 mt-2"
              />
            </div>
            <div>
              <h4
                class="text-secondary font-bold text-lg transition-colors duration-300"
              >
                Hỗ trợ 24/7
              </h4>
              <p class="text-fourth text-sm mt-3">
                Trong kỷ nguyên công nghệ mới, chúng tôi luôn hướng tới tương
                lai với sự chắc chắn và tự hào, đó là lý do vì sao bạn nên chọn
                chúng tôi.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="tabs w-full">
        <div class="card">

          <p-accordion [value]="activeIndex()" class="custom-accordion">
          @for (faq of faqsList(); track faq.id) {
          <div class="mb-7">
             <p-accordion-panel [value]="faq.id">
              <p-accordion-header>
                 <ng-template #toggleicon let-active="active">
                    <div class="h-6 w-6  rounded-md text-white flex__middle"
                    [class]="active ? 'bg-white' : 'bg-secondary'"
                    >
                    <i class="pi  text-lg"
                    [class]="active ? 'text-secondary pi-angle-up' : 'text-white pi-angle-down'"
                    ></i>
                      <!-- @if (active) {
                        <i class="pi pi-angle-up text-lg"></i>
                      } @else {
                        <i class="pi  text-lg"></i>
                      } -->
                    </div>
                  </ng-template>
                <span class="flex items-center justify-between w-full ">
                  <span class="font-bold"
                  >{{ faq.id }}. {{ faq.title }}</span>
                </span>
              </p-accordion-header>
             <p-accordion-content>
                <p class="m-0 leading-relaxed text-sm">{{ faq.content }}</p>
              </p-accordion-content>
            </p-accordion-panel>
          </div>
          }
        </p-accordion>
        </div>
      </div>
    </div>
  </div>
</section>
