<div class="bg-auth py-5 lg:py-7 text-white">
  <div class="container-layer h-full flex__middle">
    <div
      class="flex__middle gap-x-7 flex-col md:flex-row py-7 px-3 md:px-7 rounded-lg lg:rounded-2xl border border-white/40 bg-white/30 backdrop-blur-lg w-full max-w-4xl"
    >
      <div class="w-full flex__middle flex-col">
        <div class="md:hidden">
          <app-logo width="w-24" />
        </div>
        <h1 class="text-lg md:text-2xl font-bold text-secondary uppercase mb-4">
          {{ title() }} tài khoản của bạn
        </h1>
        <ng-content></ng-content>

        <div class="mt-2 w-full flex__between">
          <a
            routerLink="/verify-account"
            class="font-semibold text-gray-200 italic"
            >Xác thực tài khoản</a
          >
          <a
            routerLink="/reset-password"
            class="font-semibold text-gray-200 italic"
            >Quên mật khẩu</a
          >
        </div>
        <div class="flex__middle gap-x-4 w-full text-third px-4 mt-3">
          <hr class="w-full border border-white" />
          <p class="w-full text-nowrap">Hoặc {{ title() }} với</p>
          <hr class="w-full border border-white" />
        </div>
        <!-- Social Login Buttons -->
        <div class="my-4 w-full">
          <app-social-login-button />
        </div>

        <div class="text-center">
          @if (isLogin()) {
            <p class="text-sm text-gray-300">
              Bạn chưa có tài khoản?
              <a
                routerLink="/register"
                class="font-medium text-secondary hover:text-primary-900 transition-colors duration-200"
              >
                Đăng ký ngay
              </a>
            </p>
          } @else {
            <p class="text-sm text-gray-300">
              Đã có tài khoản?
              <a
                routerLink="/login"
                class="font-medium text-secondary hover:text-primary-900 transition-colors duration-200"
              >
                Đăng nhập ngay
              </a>
            </p>
          }
        </div>
      </div>
      <div class="hidden md:block w-full md:flex__middle flex-col gap-6">
        <app-logo width="w-44" />
        <div
          class="text-white bg-green-100/30 p-4 pt-0 rounded-common shadow-2xl shadow-yellow-500 drop-shadow-2xl"
        >
          <app-check-item [features]="items" textColor="text-white" />
        </div>
      </div>
    </div>
  </div>
</div>
