<section class="py-20 lg:py-0   h-full lg:h-[calc(100vh-var(--header-height))] 4xl:h-[700px] flex__between">
  <div class="container-layer">
    <div class="grid lg:grid-cols-2 gap-12 items-center">
      <!-- Image Section -->
      <div class="relative flex__start">
        <div class="relative  flex__middle">
          <!-- Main Image -->
          <div class="rounded-t-full p-2 border border-gray-200">
            <img
            NgOptimizedImage
            src="/assets/images/about-image.webp"
            alt="Gia đình hạnh phúc được bảo vệ bởi bảo hiểm"

            class="w-full md:w-[480] md:h-[520px]  mx-auto lg:mx-0 rounded-t-full shadow-xl object-cover">
          </div>

          <!-- Floating Testimonial Card -->
           <app-testimonial-card/>

          <!-- Fast Claims Processing Badge -->
          <div class="animate-move-x absolute top-6 right-14 lg:right-6 bg-white rounded-xlg p-2 rounded-lg shadow-sm border border-gray-200">
            <div class="flex items-center gap-3">
              <div class="w-8 h-8 bg-primary rounded-lg flex items-center justify-center">
                <img
                  ngSrc="/assets/icons/shield.svg"
                  alt="Fast Claims Processing"
                  width="24"
                  height="24"
                  class="w-6 h-6 ">
              </div>
              <h3 class="text-primary-700 font-bold text-sm">
                Xử lý yêu cầu nhanh chóng
              </h3>
            </div>
          </div>
        </div>
      </div>

      <!-- Content Section -->
      <div class="flex flex-col">
        <!-- Section Title -->
        <div class="mb-6">
          <app-section-label
          text="Về chúng tôi"
          />

          <h2 class="text-3xl md:text-4xl  font-medium text-secondary lg:mb-6 !leading-tight">
            Giải pháp
            <span class="font-bold"> Bảo hiểm toàn diện</span>
            cho mọi nhu cầu
          </h2>
        </div>

        <!-- Description -->
        <p class="text-sm text-fourth mb-8 leading-relaxed">
          Chúng tôi cung cấp một loạt các gói bảo hiểm được thiết kế riêng để đáp ứng nhu cầu độc đáo của bạn.
          Hãy để chúng tôi giúp bạn tìm ra sự bảo vệ phù hợp, để bạn có thể sống với sự an tâm.
        </p>

        <div class="grid md:grid-cols-2 gap-8">
          <!-- Features List -->
          <div class="space-y-4">
            <div class="flex items-center gap-3">
              <div class="w-5 h-5 flex items-center justify-center flex-shrink-0">
                <img src="assets/icons/check.svg" alt="icon_check">
              </div>
              <span class="text-fourth font-medium text-sm">Tập trung vào khách hàng</span>
            </div>

            <div class="flex items-center gap-3">
              <div class="w-5 h-5 flex items-center justify-center flex-shrink-0">
                <img src="assets/icons/check.svg" alt="icon_check">
              </div>
              <span class="text-fourth font-medium text-sm">Giao tiếp minh bạch và rõ ràng</span>
            </div>

            <div class="flex items-center gap-3">
              <div class="w-5 h-5 flex items-center justify-center flex-shrink-0">
                <img src="assets/icons/check.svg" alt="icon_check">
              </div>
              <span class="text-fourth font-medium text-sm">Hỗ trợ 365/24x7 nhanh chóng</span>
            </div>

            <div class="flex items-center gap-3">
              <div class="w-5 h-5 flex items-center justify-center flex-shrink-0">
                <img src="assets/icons/check.svg" alt="icon_check">
              </div>
              <span class="text-fourth font-medium text-sm">Bảo hiểm toàn diện mọi như cầu</span>
            </div>


          <div class="pt-6">
            <app-btn-common
            [text]="'Tìm hiểu thêm'"
            type="primary"
            extraClass="!p-3"
          ></app-btn-common>
          </div>

          </div>

          <!-- Statistics -->
          <div class="bg-third rounded-t-3xl rounded-e-3xl  py-10 px-8 ">
            <div class="text-start">
              <div class="text-3xl font-bold text-primary mb-1.5">100<span class="text-lg">%</span></div>
              <div class="text-fourth text-xs uppercase tracking-wide font-semibold">Tỷ lệ thành công</div>
            </div>
            <hr class="border-white  my-4">
            <div class="text-start">
              <div class="text-3xl font-bold text-primary mb-1.5">3256<span class="text-lg">+</span></div>
              <div class="text-fourth text-sm uppercase tracking-wide font-semibold">Khách hàng hài lòng</div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
