@keyframes move-x {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-move-x {
  animation: move-x 5s ease-in-out infinite;
}



// Border container effect
.image-border {
  @apply transition-all duration-300 ease-in-out;

  &:hover {
    @apply border-primary/30;
    box-shadow: 0 0 20px rgba(0, 154, 94, 0.15);
  }
}


