<article
  [routerLink]="blogUrl()"
  class="group bg-white rounded-common shadow-lg overflow-hidden hover:shadow-xl transition-all duration-300 flex !h-full w-full cursor-pointer"
  [ngClass]="flexDirection()"
>
  <!-- Image -->
  <div
    class="relative    overflow-hidden flex-shrink-0 image-hover-effect"
    [ngClass]="isPostPage()?'flex-1 w-full':'md:w-1/2'"
  >
    <img
      [src]="post().featuredImage"
      [alt]="post().title"
      class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500"
      loading="lazy"
    />
  </div>

  <!-- Content -->
  <div class="p-4 lg:p-6 flex flex-col justify-between">
    <div>
      <!-- Meta info -->
      <p class="mb-4 text-sm text-fourth">
        <i class="far fa-calendar-alt mr-1"></i>
        {{ formattedDate() }}
      </p>

      <!-- Title -->
      <h3
        class="text-lg font-bold text-primary my-2 line-clamp-2 group-hover:text-secondary transition-colors duration-200 h-16 line-clamp-2"
      >
        {{ post().title }}
      </h3>

      <!-- Excerpt -->
      <p class="text-gray-600 text-sm leading-relaxed line-clamp-2 mb-3">
        {{ truncatedExcerpt() }}
      </p>
    </div>

    <!-- Read more link -->

    <a
      class="inline-flex items-center text-primary font-medium text-sm hover:text-primary-dark transition-colors duration-200 mt-auto"
    >
      Đọc thêm
      <i
        class="fa-solid fa-arrow-right text-xs -rotate-45 group-hover:rotate-0 transition-all duration-300 ease-in-out ml-2"
      ></i>
    </a>
  </div>
</article>
