<div class="w-8 h-8 rounded-full hover:drop-shadow-xl">
  @if (isLogined()) {
    <div class="w-full h-full" (click)="handleShowProfile()">
      <img
        [src]="avatarUrl"
        (error)="handleImageError()"
        class="w-8 h-8 rounded-full border-2 border-secondary overflow-hidden object-cover cursor-pointer"
      />
    </div>
  } @else {
    <button
      routerLink="/login"
      routerLinkActive="active"
      class="border-2 border-secondary rounded-full w-8 h-8 flex__middle hover:text-green-700 font-medium"
    >
      <i class="ri-user-3-line text-xl"></i>
    </button>
  }
</div>

<p-drawer [(visible)]="isShowProfile" [blockScroll]="true" position="right">
  <ng-template #header>
    <div class="flex flex-col gap-2">
      <img
        [src]="avatarUrl"
        class="!h-12 !w-12 object-cover rounded-full"
        size="large"
        alt=""
        (error)="handleImageError()"
      />
      <div>
        @if (authStore.profile()?.name) {
          <p class="!mb-0">{{ authStore.profile()?.name }}</p>
        }
        <p class="">{{ authStore.profile()?.email }}</p>
      </div>
    </div>
  </ng-template>
  <div class="h-full flex__middle">
    @if (uploading()) {
      <i class="pi pi-spinner-dotted !text-3xl animate-spin"></i>
    }
  </div>
  <ng-template #footer>
    <div class="flex flex-col items-center gap-2">
      @if (isBoxUpdateInfo) {
        <div
          @slideUpDown
          class="w-full border border-gray-400/80 py-5 px-2 rounded-md relative"
        >
          <button
            (click)="handleShowBoxUpdateInfo()"
            class="absolute top-0 right-0 w-8 h-8 rounded-full hover:bg-gray-100 flex__middle"
          >
            <i class="pi pi-times"></i>
          </button>
          <div class="flex__middle mb-5">
            <img
              [src]="displayAvatar"
              class="w-36 h-36 rounded-full overflow-hidden object-cover cursor-pointer"
              [alt]="authStore.profile()?.email"
              (click)="onAvatarClick()"
              (error)="handleImageError()"
            />
          </div>
          <form [formGroup]="updateForm">
            <p-floatlabel variant="in" class="mb-5">
              <p-iconfield>
                <p-inputicon class="pi pi-user-edit" />
                <input
                  pInputText
                  id="name"
                  formControlName="name"
                  autocomplete="off"
                  pSize="small"
                  class="w-full"
                />
              </p-iconfield>
              <label for="name">Tên mới</label>
            </p-floatlabel>

            <p-floatlabel variant="in" class="mb-5">
              <p-iconfield>
                <p-inputicon class="pi pi-user-edit" />
                <input
                  pInputText
                  id="phoneNumber"
                  formControlName="phoneNumber"
                  autocomplete="off"
                  pSize="small"
                  class="w-full"
                />
              </p-iconfield>
              <label for="phoneNumber">Số điện thoại</label>
            </p-floatlabel>

            <p-floatlabel variant="in">
              <p-iconfield>
                <p-inputicon class="pi pi-building-columns" />
                <input
                  pInputText
                  id="addresses"
                  formControlName="addresses"
                  autocomplete="off"
                  pSize="small"
                  class="w-full"
                />
              </p-iconfield>
              <label for="addresses">Địa chỉ</label>
            </p-floatlabel>
          </form>
        </div>
      }

      <button
        (click)="handleUpdateNow()"
        class="rounded-md w-full py-2 border border-primary text-primary hover:bg-primary hover:text-white"
      >
        <i class="pi pi-pen-to-square mr-3"></i>
        @if (isBoxUpdateInfo) {
          Cập nhật ngay
        } @else {
          Cập nhật thông tin
        }
      </button>
      <button
        (click)="handleLogout()"
        class="rounded-md w-full py-2 border border-red-500 text-red-500 hover:bg-red-200/50"
      >
        <i class="pi pi-sign-out mr-3"></i>
        Đăng xuất
      </button>
    </div>
  </ng-template>
</p-drawer>
