.active {
  @apply text-primary;
}

.item-link {
  @apply font-medium hover:text-primary transition-colors py-1 relative;
}
.item-link::after {
  content: "";
  @apply absolute left-0 bottom-0 w-full border-b-2 border-primary;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
  pointer-events: none;
}
.item-link.active::after {
  transform: scaleX(1);
}


