
<div class="flex__start flex-col w-full shadow-md backdrop-blur-xl bg-white/50">
  <div class="w-full container-layer flex__between py-2 md:py-3">
    <!-- Logo -->
    <app-logo [isShowName]="true" />
    <!-- Menu -->
    <nav class="hidden  flex-1 lg:flex justify-center">
      <ul class="flex space-x-8 text-gray-600 text-sm">
        @for (item of menuItems(); track item) {
          <li class="item-nav">
            <a
              [routerLink]="item.link"
              routerLinkActive="active"
              *ngIf="item.link === '/'; else otherTab"
              [routerLinkActiveOptions]="{ exact: true }"
              class="item-link"
            >
              {{ item.label }}
            </a>
            <ng-template #otherTab>
              <a
                [routerLink]="item.link"
                routerLinkActive="active"
                class="item-link"
              >
                {{ item.label }}
              </a>
            </ng-template>
          </li>
        }
      </ul>
    </nav>
    <!-- Actions -->
    <div class="flex items-center space-x-4">
      <button
        routerLink="/login"
        routerLinkActive="active"
        class="hidden lg:block  border-2 border-secondary rounded-full w-8 h-8 flex__middle hover:text-green-700 font-medium"
      >
       <i class="ri-user-3-line text-xl"></i>
      </button>
      <app-drawer-header
      [MenuItems]="menuItems()"
      />
    </div>
  </div>
</div>
