
<div class="flex__start flex-col w-full shadow-md backdrop-blur-xl bg-white/50">
  <div class="w-full container-layer flex__between py-2 md:py-3">
    <!-- Logo -->
   <a routerLink="/"> <app-logo [isShowName]="true" /></a>
    <!-- Menu -->
    <nav class="hidden  flex-1 lg:flex justify-center">
      <ul class="flex space-x-8 text-gray-600 text-sm">
        @for (item of menuItems(); track item) {
          <li class="item-nav">
            <a
              [routerLink]="item.link"
              routerLinkActive="active"
              *ngIf="item.link === '/'; else otherTab"
              [routerLinkActiveOptions]="{ exact: true }"
              class="item-link"
            >
              {{ item.label }}
            </a>
            <ng-template #otherTab>
              <a
                [routerLink]="item.link"
                routerLinkActive="active"
                class="item-link"
              >
                {{ item.label }}
              </a>
            </ng-template>
          </li>
        }
      </ul>
    </nav>
    <!-- Actions -->
    <div class="flex items-center space-x-4">
      <app-btn-auth-navigation/>
      
      <app-drawer-header
      [MenuItems]="menuItems()"
      />
    </div>
  </div>
</div>
