<div class="rounded-common shadow-common bg-third p-4 px-6 md:p-10">
  <h3 class="text-secondary font-bold text-lg md:text-xl mb-5">
    Dịch Vụ Của Chúng Tôi
  </h3>

  <!-- Menu list -->

  <ul class="flex flex-col space-y-4">
    <!-- Loading state -->
    @if (isLoading()) {
      @for (item of items; track item.id) {
        <li class="animate-pulse flex__between rounded-xl p-4 bg-gray-400">
          <p class="text-sm font-medium"></p>
          <i class="fa-solid fa-arrow-right text-gray-200 animate-pulse"></i>
        </li>
      }
    }

    <!-- Error state -->
    @if (error()) {
      @for (item of menuFallback; track item.link) {
        <li
          [routerLink]="item.link"
          class="group flex__between rounded-xl bg-white p-4 cursor-pointer text-fourth hover:bg-secondary hover:text-white transition-colors"
        >
          <span class="text-sm font-medium">
            {{ item.title }}
          </span>
          <i
            class="fa-solid fa-arrow-right text-secondary group-hover:text-white"
          ></i>
        </li>
      }
    }
    @if (menuData(); as menu) {
      @for (item of menu.menus; track item.key) {
        <li
          [routerLink]="[item.data.routerLink]"
          class="group flex__between rounded-xl bg-white p-4 cursor-pointer text-fourth hover:bg-secondary hover:text-white transition-colors"
        >
          <span class="text-sm font-medium">
            {{ item.label }}
          </span>

          <i
            class="fa-solid fa-arrow-right text-secondary group-hover:text-white"
          ></i>
        </li>
      }
    }
  </ul>
</div>
