<div class="rounded-common shadow-common bg-third p-4 px-6 md:p-10">
  <h3 class="text-secondary font-bold text-lg md:text-xl mb-5">
    Dịch Vụ Của Chúng Tôi
  </h3>

  <!-- Menu list -->

  <ul class="flex flex-col space-y-4">
    <!-- Loading state -->
    @if (isLoading()) {
       <li

          class="group flex__between rounded-xl bg-white h-4 cursor-pointer text-fourth hover:bg-secondary hover:text-white transition-colors"
        >
          <span class="text-sm font-medium">

          </span>

          <i
            class="fa-solid fa-arrow-right text-secondary group-hover:text-white"
          ></i>
        </li>
    }

    <!-- Error state -->
    @if (error()) {
      <div class="error">
        <p>Không thể tải menu. Vui lòng thử lại sau.</p>
      </div>
    }
    @if (menuData(); as menu) {
      @for (item of menu.menus; track item.key) {
        <li
          [routerLink]="[item.data.routerLink]"
          class="group flex__between rounded-xl bg-white p-4 cursor-pointer text-fourth hover:bg-secondary hover:text-white transition-colors"
        >
          <span class="text-sm font-medium">
            {{ item.label }}
          </span>

          <i
            class="fa-solid fa-arrow-right text-secondary group-hover:text-white"
          ></i>
        </li>
      }
    }
  </ul>
</div>
