<section
  class="!py-20 flex__start flex-col bg-third lg:bgUrlCustom "
>
  <div class="container-layer flex__middle flex-col">
    <div class="">
      <app-section-intro
        title="Dịch vụ - sản phẩm"
        firstText="Dịch vụ"
        highlightText="Bảo hiểm"
        lastText="toàn diện"
        description=" Các dịch vụ bảo hiểm toàn diện của chúng tôi được thiết kế để mang lại cho
      bạn sự an tâm, bất kể nhu cầu của bạn là gì."
        introClass="flex__middle flex-col"
      />
    </div>
    <div class="mt-12 4xl:mt-20 w-full">
      <app-product-list [items]="products()" [itemCount]="4" />
    </div>
  </div>
</section>
