<section
  class="xl:h-[calc(100vh-var(--header-height))] 4xl:h-[750px] flex__start flex-col bg-third lg:bgUrlCustom"
>
  <div class="container-layer flex__middle flex-col">
    <div class="mt-16 4xl:mt-20">
      <app-section-intro
        title="Dịch vụ - sản phẩm"
        firstText="Dịch vụ"
        highlightText="Bảo hiểm"
        lastText="toàn diện"
        description=" Các dịch vụ bảo hiểm toàn diện của chúng tôi được thiết kế để mang lại cho
      bạn sự an tâm, bất kể nhu cầu của bạn là gì."
        introClass="flex__middle flex-col"
        />
    </div>
    <div class="mt-12 4xl:mt-20 w-full">
       <app-product-list/>
    </div>
  </div>
</section>
