<section
  class="lg:h-[calc(100vh-var(--header-height))] 4xl:h-[700px] flex__start flex-col bg-third px-3"
>
  <div class="container-layer flex__middle flex-col">
    <div class="mt-16">
      <app-section-label text="Dịch vụ" />
    </div>

    <h2
      class="text-3xl md:text-4xl font-medium text-secondary mb-3 lg:mb-5 !leading-tight text-center"
    >
      Dịch vụ
      <span class="font-bold">bảo hiểm</span>
      <br class="lg:hidden" />
      toàn diện
    </h2>

    <p class="text-fourth text-sm">
      Các dịch vụ bảo hiểm toàn diện của chúng tôi được thiết kế để mang lại cho
      bạn sự an tâm, bất kể nhu cầu của bạn là gì
    </p>

    <app-product-list/>
  </div>
</section>
