<section class="py-20 bg-third">
  <div class="container-layer">
    <div class="flex__middle flex-col gap-10">
      <div>
        <app-section-intro
          introClass="flex__middle flex-col text-center max-w-5xl"
          title="BÀI VIẾT / TIN TỨC"
          firstText="Tin Tức & Mẹo Bảo Hiểm Mới Nhất"
          description="Cập nhật thông tin mới nhất về tin tức và mẹo bảo hiểm. Từ những lời khuyên chuyên gia về lựa chọn gói bảo hiểm đến các cập nhật quan trọng trong ngành, chúng tôi cung cấp những kiến thức giá trị giúp bạn đưa ra quyết định đúng đắn."
          descriptionClass="text-center"
        />
      </div>
      <div class="w-full">

      </div>
    </div>
  </div>
</section>
