<div class="relative">
  @if (isShowTopImg && !isMobile) {
    <div class="h-[170px] w-full flex__end ">
      <img src="assets/icons/how-work-box-arrow-2.svg" class="hidden lg:block" alt="" />
    </div>
  }

  @if (index === "04" && !isMobile ) {
    <div class="h-[170px] w-[170px]">
      <img src="assets/icons/how-work-box-arrow-2.svg"

       class=" rotate-180 lg:hidden" alt="" />
    </div>
  }



  <div
    class="p-10 rounded-t-3xl rounded-e-3xl bg-white drop-shadow-md"
    [ngClass]="isPositionTop ? 'pt-14' : 'pb-14'"
  >
    <img [src]="icon" alt="" />

    <p class="title">{{ title }}</p>
    <p class="description">
      {{ description }}
    </p>

    <div
      class="absolute left-1/2 -translate-x-1/2 w-12 aspect-square font-bold border-8 border-third rounded-full flex__middle bg-primary text-white"
      [ngClass]="
        isPositionTop ? '-bottom-5 md:bottom-auto md:-top-6 ' : '-bottom-5'
      "
    >
      {{ index }}
    </div>
  </div>

  @if (isShowBottomImg && !isMobile) {
    <div class="w-full flex__end">
      <img src="assets/icons/how-work-box-arrow-1.svg" class="" alt="" />
    </div>
  }
</div>
