<button
  (click)="toggleMenu()"
  class="h-8 w-8 bg-secondary text-white rounded font-semibold hover:bg-green-800 transition-colors"
>
  <i class="ri-menu-3-line text-xl"></i>
</button>

<p-drawer [(visible)]="isShowMenu" styleClass="h-screen" position="top">
  <ng-template #header>
    <app-logo [isShowName]="true" />
  </ng-template>
  <ng-template #content>
    <nav class="flex flex-col space-y-5">
      <ul class="flex flex-col space-y-2">
        @for (item of MenuItems; track item) {
          <li>
            <div class="flex items-center justify-between">
              <div class="flex items-center space-x-2">
                @if(item.icon) {
                 <i [class]="item.icon + ' text-xl' + (isCurrentRoute(item.link) ? ' text-primary' : '')"></i>
                }
                @if (item.link === "/") {
                  <a
                    [routerLink]="item.link"
                    (click)="toggleMenu()"
                    class="item-link"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                  >
                    {{ item.label }}
                  </a>
                } @else {
                  <a
                    [routerLink]="item.link"
                    (click)="toggleMenu()"
                    class="item-link"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                  >
                    {{ item.label }}
                  </a>
                }
              </div>
             @if(item.children?.length){
              <button class="h-5 aspect-square" (click)="toggleOpen(item.id)">
                 <i [class]="isOpen[item.id] ? 'ri-arrow-down-s-line text-2xl text-fourth' : 'ri-arrow-right-s-line text-2xl text-fourth'"></i>
              </button>
             }
            </div>

            <!-- Hiển thị menu cấp 2 nếu có -->
            @if (item.children?.length) {
              <ul
                class="ml-6 mt-1 flex flex-col space-y-1.5 overflow-hidden transition-all duration-300 ease-in-out"
                [style.maxHeight]="isOpen[item.id] ? '500px' : '0px'"
                [style.opacity]="isOpen[item.id] ? '1' : '0.2'"
                [style.transform]="isOpen[item.id] ? 'translateY(0)' : 'translateY(-8px)'"
                [class.pointer-events-none]="!isOpen[item.id]"
              >
                @for (child of item.children; track child) {
                  <li class="flex items-center space-x-2">
                    <span class="w-1 h-1 bg-primary rounded-full inline-block"></span>
                    <a
                      [routerLink]="child.link"
                      [routerLinkActiveOptions]="{ exact: true }"
                      (click)="toggleMenu()"
                      routerLinkActive="active"
                      class="item-link text-base"
                    >
                      {{ child.label }}
                    </a>
                  </li>
                }
              </ul>
            }
          </li>
        }
      </ul>
    </nav>
  </ng-template>
</p-drawer>

<p-drawer
  [(visible)]="isShowContact"
  closable="false"
  position="right"
  styleClass="max-w-[340px] bg-white p-6"
>
  <button
    (click)="isShowContact = false"
    class="absolute top-3 right-3 text-secondary bg-green-100 hover:bg-secondary rounded-full w-10 aspect-square group"
  >
    <i class="ri-close-line text-2xl group-hover:text-white"></i>
  </button>
  <div class="flex flex-col items-center justify-between space-y-6">
    <!-- Email -->
    <div class="flex flex-col items-center w-full">
      <i class="ri-mail-send-line text-4xl text-green-600 mb-2"></i>
      <div class="title">Hỗ trợ &amp; Email</div>
      <div class="text-gray-500 text-sm">xtbh&#64;insurance.com</div>
    </div>
    <hr class="w-full border-gray-200" />
    <!-- Phone -->
    <div class="flex flex-col items-center w-full">
      <i class="ri-phone-line text-4xl text-green-600 mb-2"></i>
      <div class="title">Tổng đài hỗ trợ</div>
      <div class="text-gray-500 text-sm">(+84) 789 345 012</div>
    </div>
    <hr class="w-full border-gray-200" />
    <!-- Location -->
    <div class="flex flex-col items-center w-full">
      <i class="ri-map-pin-line text-4xl text-green-600 mb-2"></i>
      <div class="title">Địa chỉ</div>
      <div class="text-gray-500 text-sm text-center">
        123 Nguyễn Thị Minh Khai, Quận 1, TP.HCM
      </div>
    </div>
    <hr class="w-full border-gray-200" />
    <!-- Social -->
    <div class="flex flex-col items-center w-full">
      <div class="font-semibold text-base text-secondary my-2">
        Kết nối với chúng tôi
      </div>
      <app-social-media-icon
        [iconSize]="'text-3xl'"
        spaceClass="space-x-5 mt-2"
      />
    </div>
  </div>
</p-drawer>
