<p class="font-medium text-xl mb-3 ml-5 text-gray-600 uppercase">
  Bài viết Nổi bật
</p>
@if (loading()) {
  <div class="h-full w-full">
    <div class="grid grid-rows-1 lg:grid-cols-3 gap-10">
      <div
        class="lg:col-span-2 w-full h-item rounded-common overflow-hidden animate-pulse bg-gray-200"
      >
        <div class="relative w-full h-full">
          <div
            class="absolute bottom-0 left-0 right-0 h-1/2 bg-gradient-to-t from-secondary to-transparent text-white z-50"
          >
            <div
              class="h-full w-full flex flex-col justify-end px-3 md:px-10 pb-14"
            >
              <div
                class="flex flex-col justify-end gap-6 transition-transform duration-300 cursor-pointer"
              >
                <div class="h-3 w-40 bg-gray-200 rounded animate-pulse"></div>
                <div class="h-8 w-full bg-gray-200 rounded animate-pulse"></div>
                <div class="h-4 w-40 bg-gray-200 rounded animate-pulse"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-span-1 w-full h-full hidden lg:block">
        <app-post-item-skeleton />
      </div>
    </div>

    <div
      class="w-full h-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-10"
    >
      @for (i of skeletonArray; track $index) {
        <app-post-item-skeleton />
      }
    </div>
  </div>
}
@if (highlightPosts()) {
  <div class="h-full w-full">
    <div class="grid grid-rows-1 lg:grid-cols-3 gap-10">
      <div
        class="lg:col-span-2 w-full h-item rounded-common overflow-hidden group hover:shadow-lg hover:drop-shadow-2xl transition-all duration-500"
      >
        <app-custom-carousel
          #carousel
          [items]="highlightPosts().slice(0, 3)"
          [circular]="true"
          [autoplayInterval]="5000"
          [showNavigators]="true"
          class="!h-full"
        >
          <ng-template let-post>
            <div class="relative w-full h-full">
              <img
                [src]="post.featuredImage"
                [alt]="post.title"
                class="w-full h-full object-cover"
              />

              <div
                class="absolute bottom-0 left-0 right-0 h-1/2 bg-gradient-to-t from-secondary to-transparent text-white z-50"
              >
                <div
                  class="h-full w-full flex flex-col justify-end px-3 md:px-10 py-6"
                >
                  <div
                    class="flex flex-col justify-end gap-4 group-hover:translate-y-[-20px] transition-transform duration-300 cursor-pointer"
                  >
                    <p class="font-semibold capitalize text-sm">
                      <i
                        class="fa-solid fa-circle text-[6px] text-secondary lg:text-[8px]"
                      ></i>
                      {{ post.category.name }}
                    </p>
                    <h3
                      routerLink="/post/{{ post.slug }}"
                      class="font-bold hover:text-primary"
                    >
                      {{ post.title }}
                    </h3>
                    <div class="mb-2">
                      <i class="far fa-calendar-alt mr-1"></i>
                      {{ timeFormatHelper.formatDate(post.publishedAt) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </app-custom-carousel>
      </div>
      <div class="lg:col-span-1 w-full h-full block md:hidden lg:block">
        @for (
          post of highlightPosts().slice(3, 4);
          track post.id;
          let i = $index
        ) {
          <div class="w-full h-full">
            <app-item-post
              [post]="post"
              flexDirection="flex-col"
              [isPostPage]="true"
              class="h-full w-full"
            />
          </div>
        }
      </div>
    </div>

    <div
      class="w-full h-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-10"
    >
      @for (post of bottomPostsSlice(); track post.id; let i = $index) {
        <div class="h-full">
          <app-item-post
            [post]="post"
            flexDirection="flex-col"
            [isPostPage]="true"
            class="h-item"
          />
        </div>
      }
    </div>
  </div>
}
