<section class="py-20 bg-third lg:bgUrlCustom">
  <div class="container-layer">
    <div class="flex__middle flex-col gap-10">
      <div>
        <app-section-intro
          introClass="flex__middle flex-col text-center max-w-5xl"
          title="Lời chứng thực"
          firstText="Những câu chuyện thực tế"
          highlightText="niềm tin thực sự từ khách hàng hài lòng"
          description="Chúng tôi tự hào về sự tin tưởng mà khách hàng dành cho mình. Thông qua những câu chuyện thực tế và lời chứng thực, bạn sẽ thấy các giải pháp bảo hiểm toàn diện của chúng tôi đã tạo ra tác động tích cực như thế nào đến cuộc sống của họ. Từ quy trình giải quyết quyền lợi nhanh chóng đến dịch vụ cá nhân hóa, khách hàng hài lòng chia sẻ cách chúng tôi đã giúp họ bảo vệ những điều quan trọng nhất."
          descriptionClass="text-center"
        />
      </div>
      <div class="w-full">
       <app-swiper-wrapper
       [testimonials]="testimonials"
       />
      </div>
    </div>
  </div>
</section>
