<div class="group" [class]="flexClass + ' ' + gapClass + ' ' + flexDirection">
  <div
    class="icon-box aspect-square rounded-full backdrop-blur-sm flex__middle flex-shrink-0 transition-colors duration-300"
    [class]="bgColor + ' ' + bgWidth "
    [style.--hover-bg-color]="resolvedHoverColor"
  >
  @if(icon){
     <i
      class="z-10 relative"
      [class]="icon + ' ' + iconColor + ' ' + iconSize"
    ></i>
  }@else {
    <img
      class="z-10 relative"
      [src]="iconSrc"
      [class]="iconSize + ' ' + iconImgClass"
    />
  }

  </div>
  @if (title || description) {
    <div>
      @if (title) {
        <h3 class="" [class]="titleFont + ' ' + titleColor + ' ' + titleSize">
          {{ title }}
        </h3>
      }
      @if (description) {
        <p [class]="descriptionClass">{{ description }}</p>
      }
    </div>
  }
</div>
