<div class="py-10 lg:py-20 bg-gray-50">
  <div class="container-layer">
    <app-product-list [items]="products()"  [loading]="loading()" [loadingMore]="loadingMore()"   />

    @if(hasMore()){
      <div class="mt-8 flex justify-center" >
         <app-btn-common
          [text]="loadingMore() || loading() ? '' : 'Tải thêm'"
          type="primary"
          extraClass="!py-2.5 w-40 flex__middle"
          [isLoading]="loadingMore() || loading()"
          [disabled]="loadingMore() || loading()"
         (click)="loadMore()"
        ></app-btn-common>
      <!-- <button
        class="px-6 py-3 bg-primary text-white rounded-md"
        (click)="loadMore()"
        [disabled]="loadingMore() || loading()"
      >
        {{ loadingMore() || loading() ? "Đang tải..." : "Tải thêm" }}
      </button> -->
    </div>
    }


  </div>
</div>
